html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.dev-avatar {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  flex-shrink: 0;
}

.App {
  width: 90%;
  margin: 0 auto;
}

.App-header {

  padding: 10px 0;
}