.info-card-dev-back-btn .fa-arrow-circle-o-left {
    font-size: 35px;
    color: var(--cor-blue);
}

.info-card-dev__map #map {
    height: 200px;
    width: 100%;
}

.info-card-dev__map .btn-primary {
    margin-left: 5px;
}

.info-card-dev-container header {
    text-align: center;
}

.info-card-dev-container {
    color: var(--cor-black);
}

.info-card-dev-container
.dev-avatar {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.info-card-dev__color-blue {
    color: var(--cor-blue);
}

.info-card-dev-container .fa-link {
    margin: 0 10px;
    padding: 10px;
    background-color: var(--cor-blue);
    color: var(--cor-white);
    border-radius: 50%;
    font-size: 14px;
}

.info-card-dev__list-of-sttared-repos ul {
    list-style: none;
}

.info-card-dev__list-of-sttared-repos .fa-star {
    color: var(--cor-yellow);
}

@media (min-width: 769px) {
    .info-card-dev-flex {
        display: flex;
        justify-content: space-around;
    }
    .info-card-dev-flex50 {
        width: 49%;
    }
}