.search-result_msg-to-user {
    text-align: center;
    padding: 20px 0;
}

.search-result_txt-muted {
    color: #9e9c9c;
}

.dev-list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: var(--cor-black);
}

.dev-list-item {
    padding: 20px;
    background: white;
    display: flex;
    margin: 20px;
}
  
.dev-details {
    padding-left: 20px;
    border-left: 1px solid #eee;
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dev-details p {
    margin: 0;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container-scroll {
    overflow: none;
    position: relative;
    height: 70vh;
    border: 1px solid #ccc;
    /* margin: 10px; */
    background-color: #e6eaec;
}

.content-scroll {
    overflow: auto;
    position: absolute;
    width: 100%;
    max-height: 100%;
}

@media (min-width: 600px) {
    .dev-list-item {
        
        border: 1px solid #d5d8df;
        border-radius: 4px;
    }
    .container-scroll {
        margin: 50px;
    }
}